{% set item = 3 %}
{% set tab_id = 'vertical_tab' %}

<div class="mt-8 mb-8 row vertical-tabs">

	<div class="col-md-10 col-lg-4">

		<ul class="d-none d-lg-flex nav list-nav-tab" id="" role="tablist">

			{% for i in 1..item %}
				<li role="presentation">
					<a class="{{ (loop.first) ? 'active' }}" data-bs-toggle="tab" role="tab" href="#{{ tab_id ~ '_' ~ loop.index}}_tab" aria-controls="{{ tab_id ~ '_' ~ loop.index}}_tab" aria-selected="{{ (loop.first) ? 'true' : 'false' }}">
						<h5>Feature
							{{loop.index}}</h5>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					</a>
				</li>
			{% endfor %}

		</ul>

		<div class="mb-3 d-lg-none dropdown">
			<button class="btn-primary" type="button" id="{{ tab_id }}_button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span></span>
				<i class="far fa-chevron-down"></i>
			</button>
			<div class="dropdown-menu" aria-labelledby="{{ tab_id }}_button">
				<div class="nav flex-column">
					{% for i in 1..item %}
						<a class="dropdown-item" data-bs-toggle="tab" role="tab" href="#{{ tab_id ~ '_' ~ loop.index}}_tab" aria-controls="{{ tab_id ~ '_' ~ loop.index}}_tab">
							Feature
							{{loop.index}}
						</a>
					{% endfor %}
				</div>
			</div>
		</div>

	</div>

	<div class="col-md-10 col-lg-8">

		<div class="tab-content">
			{% for i in 1..item %}
				<div class="tab-pane fade{{ (loop.first) ? ' show active' }}" id="{{ tab_id ~ '_' ~ loop.index}}_tab" role="tabpanel" aria-labelledby="{{ tab_id ~ '_' ~ loop.index}}_tab">
					<picture>
						<source srcset="https://picsum.photos/id/1038/1100/694" media="(min-width: 992px)">
						<img src="https://picsum.photos/id/1038/690/432" alt="" class="img-fluid">
					</picture>
					<div class="figure-caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse?</div>
				</div>
			{% endfor %}
		</div>

	</div>

</div>
